body{
  text-align: center;
}
h1{
    color: blue;   
}
.btn{
   background-color: yellow;
   font-weight: bold;
   cursor: pointer;
}
input{
   border: ridge;
   height: 30px;
}
.btn1{
  
  background-color: aqua;
  cursor: pointer;
   margin-top: 10px;
   margin-left: 10px;
}
.btn2{
  margin-top: 10px;
  background-color:aqua;
  cursor: pointer;
  margin-left: 10px;
}
